@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    margin: 0;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */

}

.container {
    background-color: #000000;
    /* padding: 150px; */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* max-width: 1095px; */
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    /* border: 1px solid red; */
}


.login-wrapper{
    padding: 30px;
}
.login-container {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    min-height: 90vh;
}

.login-container > *{
    width: calc(50% - 15px);
    max-width: 500px;
}
h1{
    margin-bottom: 30px;
}
.loginHeading h1{
    font-size: 60px;
    color:#895FFF;
    text-align: left;
    font-weight: 800;
}
.loginHeading p{
    font-size: 18px;
    font-weight: 500;
    color: white;
    line-height: 26px;
}
.loginHeading span{
    font-weight: 800;
}
#loginPage{
padding: 0;
}
#loginPage h1{
    font-size: 40px;
    font-weight: 700;
    color: #895FFF;
}
#loginForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
}

.new-form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#loginForm .logininput {
    width: 100%;
    margin-left: 0;
    border-radius: 13px;
}

.loginBtn {
    width: 100%;
    margin-top: 10px;
    background-color: #895FFF;
    border: 1px solid #895FFF;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.3s;
    border-radius: 30px;
}

.loginBtn:hover {
    opacity: 0.62;
}


label {
    display: block;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

input,
textarea,
button {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}


.button-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    /* Add margin between the buttons and the next element */
}

.keep-button {
    width: 100%;
}



.keep-button:last-child,
.logout-button button:last-child {
    margin-right: 0;
    /* Remove margin-right for the last button in the row */
}

.preview-box {
    margin-top: 20px;
}

#imagePreview {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
}

.responsive-image {
    max-width: 100%;
    max-height: 400px;
    margin-bottom: 30px;
    border-radius: 5px;
}

/* .generated-image {
    padding: 20px;
    height: 400px;
    align-self: baseline;
    overflow: hidden;
} */

.generated-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.generated-image-container {
    margin-top: 24px;
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    /* width: 300px; */
    height: 379px;
    width: 363px;
}

.generated-image {
    position: relative;
}

.generated-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    /* border: 2px solid blue; */
    gap: 60px;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content h1 {
    color: #CAB7FF;
    text-align: left;
    font-size: 38px;
}

.content .character-form-container {
    width: calc(50% - 20px);
}

.right-sidebar {
    margin-top: 80px;
}

.right-sidebar form {
    width: 100%;
}

.right-sidebar form div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#oneline button {
    margin-bottom: 15px;
}



/* Add this to your styles.css or a separate CSS file */
#flappyBirdGameContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent overlay */
    z-index: 1000;
    /* Ensure the game is on top of other elements */
}

@media screen and (max-width: 800px) {
    .login-container{
        flex-direction: column;
    }
    .login-container > *{
        width: 100%;
        max-width: 550px;
    }
    .loginHeading h1{
        font-size: 40px;
    }
    #loginPage h1{
        font-size: 30px;
    }
    .content {
        flex-direction: column;
    }

    .content .character-form-container {
        width: 100%;
        max-width: 550px;
    }

    .content .right-sidebar {
        display: flex;
        margin-top: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 550px;
    }
}