<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... Head content ... -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Character Creator</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1 style = 'color: white' class="loginHeading">Contact Admin</h1>
    <p style = 'color: white' >If you have forgotten your password, please contact ankurg@chaoswale.com
        for assistance.</p>
    <!-- You can add additional content or contact details here -->
    <p class = 'signup-link' ><a href="/" class="back-to-index-btn">Back to login</a></p>
</body>
</html>