<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Creator</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/script.js" defer></script>
    <script src="static/js/navbar.js" defer></script>
</head>

<body>
    <div id="navbar-container"></div>

    <div class="container">
        <h1>Create a Character</h1>
        <div class="content">
            <div class="character-form-container">
                <form id="characterForm" action="{{ url_for('generate') }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="characterName">Character Name</label>
                        <input type="text" id="characterName" name="characterName"
                            placeholder="Enter the name of the character or prop" {% if characterName %}
                            value="{{ characterName }}" {% endif %} required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" rows="5"
                            placeholder="Enter physical details and attributes"
                            required>{% if description %}{{ description }}{% endif %}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="imageUpload">Upload Outline Image (Optional)</label>
                        <input type="file" id="imageUpload" name="imageUpload" accept="image/*">
                    </div>
                    <div class="preview-box">
                        <img id="imagePreview" src="#" alt="Preview">
                    </div>
                    <div class="generate-button">
                        <button type="submit">Generate</button>
                    </div>
                </form>
            </div>
            <div class="right-sidebar">
                <div class="thumbnails">
                    <div class="generated-image-container">
                        {% if filename %}
                        <img id="generatedImage" src="{{ url_for('static', filename='images/' + filename) }}"
                            alt="Generated Image" class="responsive-image">
                        {% endif %}
                    </div>
                    <!-- <h1>--------------------------------------</h1> -->
                    <div class="generated-image"></div>
                </div>
                <form method="post" action="/process">
                    <div id="oneline">
                        <button name="action" value="removebg" class="keep-button split">Remove Background</button>
                        <button name="action" value="keep" onclick="downloadImage()"
                            class="keep-button split">Download</button>
                    </div>
                    <button type="submit" name="action" value="logout" class="logout-button">Logout</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function downloadImage() {
            var generatedImage = document.getElementById('generatedImage');
            var downloadLink = document.createElement('a');
            downloadLink.href = generatedImage.src;
            downloadLink.download = 'generated_image.png';
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        }
    </script>
</body>

</html>