<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Character Creator</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <!-- <script src="static/js/navbar.js" defer></script> -->
    <!-- <script src="{{ url_for('static', filename='js/game.js') }}"></script> -->

</head>

<body>
    <!-- <div id="navbar-container"></div> -->
    <div class="login-wrapper">
        <div class="login-container">
            <div class="loginHeading">
                <h1><i>Qrksee...</i></h1>
                <p>
                    Effortlessly
                    <span> create characters, remove backgrounds, generate 3D assets, and explore variations </span>
                    with Al-driven ease.
                </p>
            </div>
            <div id="loginPage">
                <h1>Login</h1>

                {% if message %}
                <p style="color: red; text-align: center; max-width: 500px; margin: 0 auto;" class="logininput">{{
                    message
                    }}
                </p>
                {% endif %}

                <form id="loginForm" action="{{ url_for('login') }}" method="post">
                    <div class="new-form-group">
                        <label for="username" class="logininput">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter your username"
                            class="logininput" required>
                    </div>
                    <div class="new-form-group">
                        <label for="password" class="logininput">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password"
                            class="logininput" required>
                    </div>
                    <button type="submit" class="loginBtn">Login</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>